.card-component
  border-radius 10px
  width 200px
  height 300px
  font-size 12px
  border-style solid
  border-color #000
  border-width 10px
  background-color #531
  color #fff
  display flex
  align-items stretch
  flex-direction column

  &:hover
    box-shadow 0 0 5px #00f

  & > .card-artwork-component
    flex 4

  & > .card-oracle-component
    flex 5
