.card-view

  .footer.component
    margin 0 5px 5px
    display flex
    flex-direction row

    .artist
      flex 1

    .creature-stats

      .power

        & + .toughness

          &:before
            content ' / '
